*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container{
    text-align: center;
}

.progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

.progress-container::before{
    content: '';
    background: #e0e0e0;
    position: absolute;
    top: 50%;
    left: 0;
    height: 3px;
    width: 100%;
    z-index: -1;
    transform: translateY(-50%);
}
.progress{
    background: #3498db;
    position: absolute;
    top: 50%;
    left: 0;
    height: 3px;
    width: 0%;
    z-index: -1;
    transform: translateY(-50%);
    transition: 0.4s ease;
}

.circle{
    background-color: #fff;
    border: 2px solid #e0e0e0;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease;
}

.circle.active{
    border: #3498db solid 2px;
}

.btn{
    background: #3498db;
    color: #fff;
    padding: 10px;
    width: 90px;
    height: 35px;
    text-align: center;
    border-radius: 10px;
    border: none;
    margin: 7px;
    font-size: 14px;
}

.btn:disabled{
    background-color: #e0e0e0;
}