.flag{
    margin-top: 110px;
}

.top, .middle, .bottom{
    height: 80px;
    width: 70%;
    margin: auto;
}

.top{
    background-color: orange;
}
.middle{
    background-color: white;
}
.bottom{
    background-color: green;
}

.wheel{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    outline: 2px solid darkblue;
    margin: auto;
    position: relative;
}

.line{
    position: absolute;
    width: 2px;
    background: darkblue;
    height: 100%;
    left: 50%;
}

.line:nth-child(1){
    transform: rotate(15deg);
}
.line:nth-child(2){
    transform: rotate(30deg);
}
.line:nth-child(3){
    transform: rotate(45deg);
}
.line:nth-child(4){
    transform: rotate(60deg);
}
.line:nth-child(5){
    transform: rotate(75deg);
}
.line:nth-child(6){
    transform: rotate(90deg);
}
.line:nth-child(7){
    transform: rotate(105deg);
}
.line:nth-child(8){
    transform: rotate(120deg);
}
.line:nth-child(9){
    transform: rotate(135deg);
}
.line:nth-child(10){
    transform: rotate(150deg);
}
.line:nth-child(11){
    transform: rotate(165deg);
}
.line:nth-child(12){
    transform: rotate(180deg);
}

.container{
    width: 70%;
    margin: auto;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    font-size: 45px;
}

#happy{
    color: orange;
}
#independence{
    color: darkblue;
}
#day{
    color: green;
}