*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow-x: hidden;
}
h1{
    margin: 10px;
}

.box{
    background-color: blue;
    color: #fff;
    font-size: 2rem;
    padding: 10px 45px;
    margin-bottom: 10px;
    transform: translateX(400%);
    transition: transform 0.4s ease;
}

.box:nth-of-type(even){
    transform: translateX(-400%);
}

.box.show{
    transform: translateX(0);
}